#container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gridDiv{
    width: 38px;
    margin: 10px;
    border: medium solid #3882F6;
    height: 38px;
    border-radius: 10%;
}