#container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7aa4e9;
}

.divRow{
    display:flex;
}

.gridDiv{
    background-color: #3882F6;
    border-radius: 10%;
}

button{
    margin:2vh;
    font-size: large;
    background-color: #3882F6;
    color: #453dbdff;
    border-color: #453dbdff;
}